<!doctype html>
<html>
	<head>
		<title>Communication between controllers</title>
	</head>
	<body>
		<div ng-app="app">
			<h4>Communication between controllers</h4>
			<div ng-controller="ParentCtrl">
				<input type="text" ng-model="parentValue"><button ng-click="invokeChild(parentValue)">Send massage to ChildCtrl</button>
				<div ng-controller="ChildCtrl">
					<input type="text" ng-model="childValue"><button ng-click="invokeParent(childValue)">Send massage to ParentCtrl</button>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script>
	angular.module('app',[])
	angular.module('app').controller('ParentCtrl', function ($scope){
		$scope.$on('child-message', function(event, data){
			alert('child-message alerts ' + data)
		})
		$scope.invokeChild = function(value){
			$scope.$broadcast('parent-message', value)
		}
	})
	angular.module('app').controller('ChildCtrl', function ($scope){
		$scope.$on('parent-message', function(event, data){
			alert('parrent-message alerts ' + data)
		})
		$scope.invokeParent = function(value){
			$scope.$emit('child-message', value)
		}
	});
	</script>
</html>